.popup__container {
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 0 19px;
    max-width: 430px;
    width: 100%;
    background-color: #fff;
    color: #000;
    border-radius: 10px;
    z-index: 2;
}

@media screen and (max-width: 600px) {
    .popup__container {
        max-width: 282px;
    }
}